<!DOCTYPE html>
<html>
  <head>
    <title>Product Reservation</title>
    <!-- <link rel="stylesheet" href="../public/style.css" /> -->

    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 20px;
      }
      button {
        padding: 10px 20px;
        background-color: #007bff;
        color: white;
        border: none;
        cursor: pointer;
      }
      button:hover {
        background-color: #0056b3;
      }
    </style>
  </head>
  <body>
    <h1>Product: <%= product.name %></h1>
    <p>Description: <%= product.description %></p>
    <p>Inventory: <span id="inventory"><%= product.inventory %></span></p>
    <button onclick="reserveProduct('<%= product.id %>')">Reserve</button>
    <p id="message"></p>

   <script src="/socket.io/socket.io.js"></script>
    <script>
    const productId = window.location.pathname.split("/").pop()
    const inventorySpan = document.getElementById('inventory')
    const messageP = document.getElementById("message")

    //Create a socket connection 
       const socket = io();

       // As soon we connect join right room
       socket.on('connect', () =>{
        console.log('Connected to server, joining room for product:', productId);
        // Tell the server which product page this user is viewing.
        socket.emit("join-product-room", productId);
       })

         socket.on("inventory-update", (newInventory) => {
           console.log(newInventory);
      inventorySpan.innerText = newInventory;
      
  });
        async function reserveProduct(id) {
        try {
          const response = await fetch(`/product/${id}/reserve`, {
            method: "POST",
            headers: { "Content-Type": "application/json" },
          });
          const data = await response.json();
          if (response.ok) {
            inventorySpan.textContent = data.inventory;
            messageP.textContent = data.message;
          } else {
            messageP.textContent = data.error;
          }
        } catch (err) {
          messageP.textContent =
            "Error reserving product";
        }
      }
    </script>
  </body>
</html>
